* {
  margin: 0;
  padding: 0;
}

.App {
  margin-left: 10px;
}

.header {
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-family: serif;
}

.header a {
  display: block;
  margin-top: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

.section {
  padding: 10px;
}

.section h2 {
  margin-bottom: 10px;
}

.graph {
  padding: 40px 0;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  margin: 50px auto;
}

.author-img {
  width: 80px;
  border-radius: 50%;
}

.icons {
  margin-top: 10px;
  display: flex;
  border-radius: 0;
}

.icons img {
  width: 25px;
  margin-left: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 415px) {
  .section {
    padding: 0;
    padding-bottom: 40px;
  }

  .author {
    width: 90%;
  }

  .details {
    margin-left: 15px;
  }
}
